.price-range-block {
    width: 100%;
   
}

.sliderText{
    width:100%;
    margin-bottom:30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight:bold;
}

.ui-slider-horizontal {
    height: 5px;
    background: #F3F3F3;
}
.ui-slider-horizontal {
    margin-bottom: 15px;
    width:98%;
    margin: auto;
}
.ui-widget-header {
    background: #03a9f429;
}

.price-range-search {
    width:40.5%; 
    background-color: #f9f9f9; 
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    float: left;
    margin-bottom:20px;
    font-size:16px;
}

.search-results-block{
    position: relative;
    display: block;
    clear: both;
}

