.body_container{
    display: flex;

}
.left_panel{
    width: 250px;
    min-height:100vh;
    transition: all .5s;
    background-image: linear-gradient(to right bottom, #dc5224, #c52348, #9a0d5e, #601966, #171d5b);
    background-image: linear-gradient(to bottom, #dc5224, #c52348, #9a0d5e, #601966, #171d5b);
    &.open{
        width: 120px;
        
        .d_logo a img{
            width: 60px;
        }
        .dash_list{
            margin-inline-start: 0px !important;
        
        }
        .dash_list ul li a{
            justify-content: center;
            img{
                margin-inline-end:0;
                width: 25px;
                height: 25px;
            }
            span{
               opacity: 0;
               visibility: hidden;
               width: 0;
               overflow: hidden;
            }
        }
        
    }
}
.d_logo{
    margin: 20px 0;
    text-align: center;
    a{
        img{
            width: 90px;
            transition: all .5s;
        }
    }
    
    
}
.dash_list{
    margin-top: 40px;
    margin-inline-start: 30px;
    ul{
        li{
            margin-bottom: 15px;
           a{
               display: flex;
               align-items: center;
               img{
                   width: 20px;
                   height: 20px;
                   margin-inline-end:10px ;
               }
               span{
                   color: #fff;
    transition: all .5s;

               }
           } 
        }
    }
}
.real_content{
    flex:1;
    min-height: 100vh;
    // background-color:red;
    .input_f{
        input, select{
            padding:0 10px;
            height: 45px;
        }

    }
}
.nav_con{
    margin-bottom: 30px;
    padding:15px;
    background-color:#fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.dash_nav_profile{
    margin-inline-end:80px ;
    ul{
        display: flex;
        align-items: center;
    }
}
.dash_bar{
    cursor: pointer;
    span{
        svg{
            color: #DC5224;
        }
    }
}
.noti{
    margin-inline-end: 20px;
    position: relative;
    svg{

        font-size: 25px;
    }
    &::after{
        content: " ";
        display: flex;
        width: 10px;
        height: 10px;
        background:#EEA820;
        position: absolute;
        border-radius: 50%;
        top: 5px;
        left: 0;
    }
}
.dash_profile{
    display: flex;
    align-items: center;
    img{
        margin-inline-end: 10px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    div{
        span{
            color: #171D5B;
            font-size: 14px;
        }
        h6{
            font-size: 15px;
            color: #EEA820;
        }
    }
}
.dash_fo{
    justify-content: center;
    margin-top: 20px;
    .def{
        margin-inline-end:35px ;
        width: 180px;
    }
}
.list-of-radio{
    margin-bottom:20px;
    label{
        color: #171D5B;
    }
    ul{
        display: flex;
        li{
            margin-inline-end:20px;
        }
    }
}

.upload{
    input{
        display:none;
    }
    label{
        position: relative;
        width: 100%;    
        height: 55px;
        background: #F2F2F2;
        border: 0;
        padding: 10px;
        box-shadow: -1px 7px 12px -10px rgba(50,50,93,0.75) inset;
        img{
        position: absolute;
        left: 10px;
        top:50%;
        transform: translateY(-50%);
        }
    } 
}

.modal-open .modal{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
}
.alert_modal{
    h2{
        color: #6C6E98;
        text-align: center;
        margin-bottom: 20px;
    }
    h5{
        text-align: center;
        text-align: center;
        color: #6C6E98;
        margin-bottom: 20px;
    }
}
.button_dash{
    display: flex;
    margin-bottom: 20px;
}
.btn_item{

    margin-inline-end:20px;
    display: flex;
    align-items: center;
    border: 1px solid #171D5B;
    height:40px;
    padding:8px 5px;
    border-radius: 30px;
   p{
       border-radius: 50%;
       width: 30px;
        margin-inline-end:8px;
       height: 30px;
       background-color:#171D5B;
       display: flex;
       align-items: center;
       justify-content:center;
       svg{
           color: #fff;
       }
   }
   span{
       color: $main-color;
       margin-inline-end:10px;
   }
}

.item_chart{
    margin-bottom: 20px;

    display: flex;
    justify-content:center;
    img{
        width: 70px;
        margin-inline-start:15px;
    }
    div{
       p{
           color: #C9CAE8;
       } 
       h2{
           font-weight: bold;

           span{
               font-size: 12px;
           }
       }
    }
}
.unactive{
    h2{
        color:#6C6E98;
    }
}

.edit-pr{
    margin-bottom: 20px;
    a{
        display: flex;
        align-items: center;
        svg{
            color: #2699FB;
        }
        span{
            margin-inline-start:7px ;
            color:#2699FB ;
        }
    }
}
.no_shad{
    input{
        box-shadow: 0 0 0 0;
    }
}

.img_profile2{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    &>img{
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin-block-end:30px;
    }
    div{
        margin-inline-end:26px;
        img{
            width: 130px;
        }
    }
}
.item_slider{

}
.col-col{
    display:flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex-wrap: wrap;
    margin-bottom: 25px;
    .is_head{
    height: 210px;    
    width: 370px;
    }
    .saom{
        flex-direction:row-reverse;
    }
    .is_body{
        width: auto;
        flex: 1;
        background:#fff;
        p{
            color: $main-color;
        }
        .isb-info div{

            span{
                color: $main-color;
            }
            p{
                color: $main-color;
            }
        } 
        .isb-info{
            ul{
                li{
                    img{
                        // filter: invert(9%) sepia(99%) saturate(1764%) hue-rotate(224deg) brightness(100%) contrast(98%);
                    }
                    span{
                        color: $main-color;
                    }
                }
            }
        }
    }
}


.bidding{
    min-height:50vh;
    nav,
    .nav_responsive{
        background-image: linear-gradient(to right, #dc5224, #c52348, #9a0d5e, #601966, #171d5b);
    }
    .header_info{
        margin-top: 10vh;
    }
}
.bargains .tabs{
    flex-wrap: wrap;
    li{
        margin-bottom: 20px;
    }
}
.bred-cr{
    margin: 20px 0;
    ul{
        display: flex;
        li{
            color: #171D5B;
            margin-inline-end:10px ;
            a{
                color: #171D5B;
                text-decoration: underline !important;
            }
            &:last-child{
                a{
                     color: #6D85E0; 
                }
            }
        }
    }
}
.h-a{
    min-height: auto;
}
.img_acu{
    position: relative;;
    img{
        width: 100%;
        height: 290px;
        object-fit: cover;
        border-radius:2px;
    }
    svg{
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: #DDDDDD;
        font-size:25px;
    }
}
.acu_price{
    margin:20px 0;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    ul{
        display: flex;
        margin-bottom: 20px;
        li{
            white-space: nowrap;
            display: flex;
            color: #2699FB;
            margin-inline-end: 30px;;
            img{
                margin-inline-end: 8px;
            }
        }
    }
    a{
        background: #2699FB;
        display: inline-flex;
        padding:6px 10px;
        img{
            margin-inline-end:8px;
        }
        span{
            color: #fff;
        }
    }
}
.acu_i{
    margin: 20px 0 0;
    ul{
        justify-content: space-between;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li{
            margin-bottom: 20px;
            img{
                margin-inline-end:8px;
            }
        }
    }
}
.time{
    h1{
        text-align: center;
        color: #171D5B;
        position: relative;
        &::after{
            content: " ";
            width: 50px;
            height: 50px;
            background: url(../../img//time.svg) no-repeat center center;
            background-size: contain;
            display:block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.toc{
    margin: 20px 0;
    ul{
        display: flex;
        justify-content:space-between;
       
        background:#C44D26;
        box-shadow: -1px 7px 12px -10px #32325dbf inset;
        padding: 10px 20px;
        li{

            span{
                color: #fff;
                font-size: 14px;
            }
            h5{
                color: #fff;
            }
        }
    }
}
.n_of_acc{
    display: flex;
}
.p_c{
    display: inline-flex;
    align-items: center;
    background:#F4F4F4;
    padding: 10px 30px;
    border-radius:25px;
    box-shadow: -1px 7px 12px -10px #32325dbf inset;
    h6{
        color: #DC5224;
        margin-inline-end: 10px;
        padding-inline-end:10px ;
        border-left: 1px solid #DC5224;
    }
    span{
        color: #DC5224;
    }

}
.aco{
    margin: 0 15px;
    text-align: center;
    p{
        text-align: center;
        color: #171D5B;
    }
    span{
        text-align: center;
        color: #1BBA1B;
    }
}

.h-line{
    margin: 20px 0;
    text-align: center;

}

.item_pr{
margin-bottom: 20px;
    display: flex;
    align-items: center;
    background:#fff;
    padding: 10px 30px;
    border-radius:25px;
    box-shadow: -1px 7px 12px -10px #32325dbf inset;
    img{
        width: 35px;
        margin-inline-end: 10px;

    }
    ul{
        flex: 1;
        display: flex;
        align-items: center;
       
        h6{
        color: #DC5224;
        margin-inline-end: 10px;
        padding-inline-end:10px ;
        border-left: 1px solid #DC5224;
        }
        span{
            color: #DC5224;
        }
       
    }
}

.sawom_btn{
    display: flex;
    justify-content:center;
    margin: 20px 0;
    a{
        border: 1px solid $main-color;
        background: #fff;
        display: inline-flex;
        min-width: 150px;
        padding:6px 10px;
        img{
            margin-inline-end:8px;
        }
        span{
            color: $main-color;
            flex: 1;
            text-align: center;
        }
    }
}

.t_b{
    margin-top: 80px;
    .nav-link.active{
        background: #F4F4F4;
        color: $main-color !important;
        border-radius: 0 !important;
        border-bottom: 2px solid $main-color !important;
    }
    .nav-link{
        color: $main-color 
    }

}

.tab-pane{
    padding: 20px;
    background:#F4F4F4;
    
}