
@font-face {
    font-family: 'HelveticaNeueLT';
    src: url('../../fonts/HelveticaNeueLTArabic-Roman.woff2') format('woff2'),
        url('../../fonts/HelveticaNeueLTArabic-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT';
    src: url('../../fonts/HelveticaNeueLTArabic-Bold.woff2') format('woff2'),
        url('../../fonts/HelveticaNeueLTArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

